doctype html
html
    head
        title article app 
        link(rel='stylesheet' href='/bowercomponents/bootstrap/dist/css/bootstrap.css')
    body 
        nav.navbar.navbar-inverse
            .container 
                .navbar-header
                    button.navbar-toggle.collapse(type='button',data)
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='/') Knoweledgebase
                    ul.nav.navbar-nav
                        li 
                            a(href='/') Home
                        li
                            a(href='/articles/add') Add Article
        
        .container
            block content
            br
            hr
            footer
                p Copyrights &copy 2018
        script(src='/bowercomponents/jquery/dist/jquery.js')
        script(src='/bowercomponents/bootstrap/dist/js/bootstrap.js')